{% extends "blog/base.html" %}

      {% block content %}

      <!-- Blog Entries Column -->
      <div class="col-md-8">
          <!-- Blog Post -->
        <div class="card mb-4 mt-4">
          <div class="card-header">
              Login into your Account
          </div>
          <div class="card-body">
              <form action="" method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button type="submit" class="btn btn-primary">Log In</button>
              </form>
              <a href="{% url 'user-register' %}">Create An Account</a>
          </div>
        </div>

      </div>

    {% endblock %}